nav {
  display: block;
  height: 40px;
  min-width: 100%;
  background-color: #333;
  color: #eee;
  position: fixed;
  z-index: 10000;
}

nav ul {
  padding: 0;
  margin: 0;
}

nav .nav-bar {
  display: flex;
  justify-content: space-between;
  display: inline;
  float: left;
}

nav a {
  display: inline-block;
  width: 100px;
  text-align: center;
  text-decoration: none;
  padding: 10px 0;
  color: #eee;
  text-decoration: none;
}

nav .nav-bar:hover {
  background-color: #444;
}

nav a#openup {
  display: none;
}

@media screen and (max-width: 720px) {
  nav {
    grid-template-columns: 1fr repeat(2, minmax(auto, 25em)) 1fr;
    height: auto;
    border-bottom: 0;
  }

  nav ul {
    display: none;
    height: auto;
  }

  nav .nav-bar {
    width: 100%;
    float: left;
    position: relative;
  }

  nav a {
    text-align: left;
    width: 100%;
    text-indent: 25px;
    background: #333;
    border-bottom: 1px solid #555;
  }

  nav a:hover {
    background: #444;
  }

  nav a#openup:after {
    content: "|||";
    transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);

    -webkit-transform: rotate(-90deg);

    width: 30px;
    height: 30px;
    display: inline-block;
    position: absolute;
    right: 5px;
    top: 20px;
  }

  nav a#openup {
    display: block;
    background-color: #333;
    width: 100%;
    position: relative;
  }

  .hide-on-small {
    display: none;
  }

  #showcase h1 {
    padding-top: 250px;
    padding-bottom: 0;
    font-size: 1.5em;
  }
}

.cf:before,
.cf:after {
  content: "";
  display: table;
}

.cf:after {
  clear: both;
}

.cf {
  zoom: 1;
}

body {
  margin: 0;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  background: url(../img/tatbg.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  color: #ffffff;
  font-size: 1.1em;
  line-height: 1.5;
  text-align: center;

}

.card img {
  display: block;
  height: 375px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

h1,
h2,
h3 {
  margin: 0;
  padding: 1em 0;
}

p {
  margin: 0 1em;
  padding: 1em 0;
}

.quote {
  padding-top: 2em;
}

span {
  font-style: italic;
  font-size: 0.8em;
}

.btn {
  display: inline-block;
  background-attachment: #333;
  color: #fff;
  text-decoration: none;
  padding: .5em .5em;
  border: 1px solid #666;
  margin: 0.5em 0;
  border-radius: 20px;
}

.btn:hover {
  background: #bf0006;
  color: #333;
}

.btn-li {
  display: inline-block;
  background: #999;
  color: #111111;
  text-decoration: none;
  padding: .3em .3em;
  border: 1px solid #eaeaea;
  margin-bottom: 1em;
  border-radius: 10px;
}

.btn-li:hover {
  background: #bf0006;
  color: #333;
}

.content-wrap {
  padding-top: 2em;
}


/** Header Showcase*/
#showcase {
  min-height: 100vh;
  color: #fff;
  text-align: center;
}

#showcase .bg-image {
  position: absolute;
  background: #333 url(../img/tatbg.jpeg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100vh;
  z-index: -1;
}

#showcase h1 {
  padding-top: 250px;
  padding-bottom: 0;
}

#showcase .content-wrap {
  padding: 0 1.5em;
}

/*Section A*/
#section-a {
  background: url(../img/bg2wide.jpg);
  color: #eaeaea;
  text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
  padding-bottom: 2em;
  height: 90vh;
}

#section-a .content-wrap {
  height: 80vh;
}

.hide-on-small {
  border-radius: 40px;
}


/*Section B*/

#section-b {
  padding: 3em;
  margin-bottom: 1em;
}

#section-b ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

#section-b li {
  margin-bottom: 1em;
  background: #333333;
  color: #eaeaea;
  opacity: .9;
}

.card img {
  border-radius: 20px;
}

.card-conetent {
  padding: 1.5em;
}

.card-border {
  border-radius: 20px;
}

/* Section C */
.album {
  max-width: 550px;
  margin: auto;
  border: #333 solid 3px;
  background: #333;
  border-radius: 10px;
}

.main-img img,
.imgs,
img {
  width: 100%;
}

.imgs {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 5px;
  border-radius: 20px;
}



/*fade in*/

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}

.fade-in {
  opacity: 0;
  animation: fadeIn 0.5s ease-in 1 forwards;
}

#section-c {
  background: url(../img/albumbg3.jpg);
  color: #fff;
  padding: 2em;
}

#section-d {
  padding: 2m;
  color: #fff;
}

#section-d .box:first-child {
  background: #222;
}

/* footer */

#main-footer {
  padding: 2em;
  background: #000;
  color: #fff;
  text-align: center;
}

#main-footer a {
  color: #2690d4;
  text-decoration: none;
}

/* Media Queries */

@media (min-width: 720px) {
  .grid {
    display: grid;
    grid-template-columns: 1fr repeat(2, minmax(auto, 25em)) 1fr;
  }

  #section-a .content-text {
    columns: 2;
    column-gap: 2em;
  }

  #section-a .content-text p {
    padding-top: 0;
  }

  .content-wrap,
  #section-b ul {
    grid-column: 2/4;
  }

  .box,
  #main-footer div {
    grid-column: span 2;
  }

  #section-b ul {
    display: flex;
    justify-content: space-evenly;
  }

  #section-b li {
    width: 31%;
  }
}